.log-in-buttons {
    // background-color: red;
    padding: 5px 10px;
    margin: 0px 15px;
    width: 150px;
    height: 70px;
    border-width: 2px;
    border-color: white;
    border-radius: 20px;
}